
.header {
  align-items: center;
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  background: linear-gradient(180deg, #000c, #0000);
  display: flex;
  left: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  transition: all .2s linear;
  width: 100%;
  z-index: 1000;
}

